.about-screen {
  background-size: cover;
  background-position:center;
  min-width: 100vw;
  min-height: 92vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.about-text {
  box-sizing: border-box;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.2rem,2vw,3rem);
  line-height: 1.6;
  width: 100%;
  padding: 5rem
}

.card {
  box-sizing: border-box;
  padding: 5rem;
  display: flex;
}
.card img{
  border-radius: 6%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.family-pic {
  
  width: 80vw;
}
.icons {
display: flex;
width: 5rem;
justify-content: center;
}

img {
  width: 100%
}

@media screen and (max-width:480px) {
  .card {
    box-sizing: border-box;
    padding: 5rem;
    display: flex;
    flex-direction: column;
  }
}