.contact-screen {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-title{
  text-align: center;
  width: 100vw;
  font-size: 10rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: black;
  margin-bottom: 10%;
  font-family: "Playfair Display", serif;
  padding-bottom: .8rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 3rem 0;
  opacity: 0;
}

.contact-animation {
animation: fadeIn 1s 1 .5s ease-in forwards;
}

@keyframes fadeIn {
  from { 
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input[type="text"],
input[type="email"],
textarea[type="text"] {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  width: 100%;
  padding: 1.2rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

textarea[type="text"] {
  resize: none;
}

.contact-form button[type="submit"] {
  align-self: center;
  font-size: clamp(1.5rem, 4vw, 3rem);
  padding: 1rem;
  border: none;
  border-radius: 0.6rem;
  background: black;
  color: white;
  transition: all ease-out 250ms;
}


.contact-form button[type="submit"]:hover {
  color: orange;
  transform: scale(1.2);
}

.contact-header {
  font-size: clamp(1.5rem, 3.5vw, 3rem);
  padding: 0.5rem;
  margin-bottom: 10rem;
  position: relative;
  overflow: visible;
}

.contact-header::before {
  content: "";
  position: absolute;
  left: 0;
  height: 101%;
  width: 100%;
  background-color: white;
  border-left: 2px solid black;
  animation: typing 4s .5s steps(113) 1 forwards;
  z-index: 5;
}


@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

.form-container {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

.form-container img {
  width: 20vw;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media screen and (max-width: 781px) {
  .contact-screen {
    min-height: 91.8vh;
    overflow: hidden;
  }

  .contact-header {
    padding: 0 3rem;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 5rem;
  }
  .form-container {
    width: 70vw;
    padding-bottom: 5rem;
    flex-direction: column;
    align-items: center;
    gap: 4rem 0;
  }

  .form-container img {
    width: 100%;
  }
}



@media screen and (max-width: 480px) {
  .contact-screen {
    min-height: 91.8vh;
    overflow: hidden;
  }

  .contact-header {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 5rem;
  }
  .form-container {
    padding-bottom: 5rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .form-container img {
    width: 100%;
  }
}
