/* Popup style */
.video-modal-box {
  align-items: center;
  background: #00000050;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0%;
  position: absolute;
  right: 0;
  top: 0%;
  z-index: 5;
}

.box {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 75%;
  margin: 0 auto;
  overflow: auto;
  padding: 2%;
  position: relative;
  width: clamp(25rem,60%,100rem);
};


