.home-screen {
  background-image: url("../../asset/mac-book.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 92.8vh;
  overflow: hidden;
}

.home-title p {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: clamp(1rem, 11vw, 15rem);
}

span.S {
  display: inline-block;
  animation: left 1s 1 ease-in-out;
}

@keyframes left {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}

span.E {
  display: inline-block;
  animation: right 1s 1 ease-in-out;
}

@keyframes right {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0px);
  }
}

.home-words {
  color: white;
  display: flex;
  font-family: "Playfair Display", serif;
  font-size: clamp(1.5em, 3vw, 4em);
  opacity: 0;
  justify-content: space-between;
  animation: top 250ms 1s 1 ease-out forwards;
}

@keyframes top {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  90% {
    opacity: 1;
  }
  to {
  transform: translateY(0px);
  opacity: 1;
}
}
.home-wrap {
  display: block;
}

@media screen and (max-width: 781px) {
  .home-screen {
    min-height: 94.3vh;
  }
}

@media screen and (max-width: 481px) {
  .home-screen {
    min-height: 91.8vh;
  }
}

