.links {
  font-family: "Playfair Display", serif;
  font-size: clamp(1rem, 2.5vw, 3rem);
  text-decoration: none;
  position: relative;
}
.links:visited {
  color: white;
}
.nav {
  background-color: black;
  color: white;
  display: flex;
  gap: 3rem;
  justify-content: center;
  max-width: 100vw;
  padding: 2rem;
}

.grow {
  transition: transform ease-out 250ms,
  color ease-out 250ms;
}
.grow:hover,
.grow:active {
  transform: scale(1.2) !important;
  color: orange;
}