.projects-screen {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 2fr 2fr;
}

.projects-title {
  display: inline;
  text-align: center;
  font-size: clamp(6rem, 16vw, 10rem);
  color: black;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 3%;
  font-family: "Playfair Display", serif;
  padding-bottom: 2rem;
  position: relative;
}
.projects-title::before {
  content: "";
  box-shadow: 0px 0px 5px 5px #888;
  position: absolute;
  width: 100vw;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 2%;
}

.mixer-card,
.arthub-card,
.gnome-card,
.barber-card {
  justify-self: center;
  align-self: baseline;
  width: 30vw;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: relative;
  z-index: 1;
  opacity: 0;
}

.project-fade {
  animation: fader 0.7s 1 ease-in forwards;
}

@keyframes fader {
  0% {
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Mixer */

.mixer-card::before {
  content: "MiXer";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 78%;
  z-index: -1;
  font-size: clamp(2rem, 3.2vw, 7rem);
  opacity: 0;
  transform-origin: bottom;
  transition: bottom ease-out 250ms, opacity ease-out 250ms;
}

.mixer-card:hover::before {
  bottom: 100%;
  opacity: 1;
}

.mixer-card::after {
  content: "Mixer was my first projects. Built using HTML, CSS, Javascript, and using Axios";
  display: block;
  width: 30vw;
  position: absolute;
  left: 0;
  bottom: 0%;
  z-index: -1;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  opacity: 0;
  line-height: 1.2;
  text-align: center;
  transform-origin: bottom;
  transition: bottom ease-out 250ms, opacity ease-out 250ms;
}

.mixer-card:hover::after {
  bottom: -30%;
  opacity: 1;
}

.mixer-button-wrap,
.arthub-button-wrap,
.gnome-button-wrap,
.barber-button-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 70%;
  min-height: 70%;
  opacity: 0;
  transition: opacity ease-out 500ms;
}

.mixer-button-wrap:hover,
.arthub-button-wrap:hover,
.gnome-button-wrap:hover,
.barber-button-wrap:hover {
  opacity: 1;
}
.projects-btn {
  width: max-content;
  padding: 0.5rem;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  background-color: #ffff;
}

/* arthub */

.arthub-card::before {
  content: "artHUB";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 78%;
  z-index: -1;
  font-size: clamp(2rem, 3.2vw, 5rem);
  opacity: 0;
  transform-origin: bottom;
  transition: bottom ease-out 250ms, opacity ease-out 250ms;
}

.arthub-card:hover::before {
  bottom: 100%;
  opacity: 1;
}

.arthub-card::after {
  content: "ArtHub was created using React.js, Axios and AirTable as a database";
  display: block;
  width: 30vw;
  position: absolute;
  left: 0;
  bottom: 0%;
  z-index: -1;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  opacity: 0;
  line-height: 1.2;
  text-align: center;
  transform-origin: bottom;
  transition: bottom ease-out 250ms, opacity ease-out 250ms;
}

.arthub-card:hover::after {
  bottom: -30%;
  opacity: 1;
}

/* Gmone-A-Zon */

.gnome-card::before {
  content: "Gnome-A-Zon";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 78%;
  z-index: -1;
  font-size: clamp(2rem, 2.5vw, 5rem);
  opacity: 0;
  transform-origin: bottom;
  transition: bottom ease-out 250ms, opacity ease-out 250ms;
}

.gnome-card:hover::before {
  bottom: 100%;
  opacity: 1;
}

.gnome-card::after {
  content: "Gnome-A-Zon was created using MongoDB, Express.js, React.js, and Node.js ";
  display: block;
  width: 30vw;
  position: absolute;
  left: 0;
  bottom: 0%;
  z-index: -1;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  opacity: 0;
  line-height: 1.2;
  text-align: center;
  transform-origin: bottom;
  transition: bottom ease-out 250ms, opacity ease-out 250ms;
}

.gnome-card:hover::after {
  bottom: -25%;
  opacity: 1;
}

/* TheBarberShop */

.barber-card::before {
  content: "TheBarberShop";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 78%;
  z-index: -1;
  font-size: clamp(2rem, 3.2vw, 5rem);
  opacity: 0;
  transform-origin: bottom;
  transition: bottom ease-out 250ms, opacity ease-out 250ms;
}

.barber-card:hover::before {
  bottom: 100%;
  opacity: 1;
}

.barber-card::after {
  content: "TheBarberShop is powered by React in the front and Ruby on rails in the backend. Authentication with JWT and Bcrypt.";
  display: block;
  width: 30vw;
  position: absolute;
  left: 0;
  bottom: 0%;
  z-index: -1;
  font-size: clamp(1.5rem, 2vw, 2.2rem);
  opacity: 0;
  line-height: 1.2;
  text-align: center;
  transform-origin: bottom;
  transition: bottom ease-out 250ms, opacity ease-out 250ms;
}

.barber-card:hover::after {
  bottom: -20%;
  opacity: 1;
}
@media screen and (max-width: 1201px) {
  .projects-screen {
    display: flex;
    flex-direction: column;
    gap: 12rem 0;
    padding-bottom: 18%;
  }

  .mixer-card,
  .arthub-card,
  .gnome-card,
  .barber-card {
    width: 50vw;
    align-self: center;
  }

  /* Mixer */

  .mixer-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }
  .mixer-card:hover::before{
    bottom: 110%;
  }

  .mixer-card::after {
    width: 30vw;
  }

  .mixer-card:hover::after {
    bottom: -35%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  /* arthub */

  .arthub-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }
  .arthub-card:hover::before{
    bottom: 110%;
  }

  .arthub-card::after {
    width: 30vw;
  }

  .arthub-card:hover::after {
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  /* Gnome-A-Zon */

  .gnome-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  .gnome-card:hover::before {
    bottom: 110%;
  }

  .gnome-card::after {
    width: 30vw;
  }

  .gnome-card:hover::after {
    bottom: -35%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  /* TheBarberShop */

  .barber-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  .barber-card:hover::before {
    bottom: 110%;
  }

  .barber-card::after {
    width: 30vw;
  }

  .barber-card:hover::after {
    bottom: -45%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }
}
@media screen and (max-width: 1024px) {
  .projects-screen {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .mixer-card,
  .arthub-card,
  .gnome-card,
  .barber-card {
    width: 80vw;
    margin-bottom: 10rem;
  }

  /* Mixer */
  .mixer-card {
    margin-top: 8rem;
  }
  .mixer-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }

  .mixer-card::after {
    width: 80vw;
  }

  .mixer-card:hover::after {
    bottom: -15%;
  }

  /* arthub */

  .arthub-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  .arthub-card::after {
    width: 80vw;
  }

  .arthub-card:hover::after {
    bottom: -15%;
  }

  /* Gnome-A-Zone */

  .gnome-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  .gnome-card:hover::before {
    bottom: 105%;
  }

  .gnome-card::after {
    width: 80vw;
  }

  .gnome-card:hover::after {
    bottom: -20%;
    opacity: 1;
  }

  /* TheBarberShop */

  .barber-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  .barber-card:hover::before {
    bottom: 105%;
  }

  .barber-card::after {
    width: 80vw;
  }

  .barber-card:hover::after {
    bottom: -20%;
    opacity: 1;
  }
}
@media screen and (max-width: 781px) {
  .projects-screen {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .mixer-card,
  .arthub-card,
  .gnome-card,
  .barber-card {
    max-width: 80vw;
    margin-bottom: 10rem;
    align-self: center;
  }

  /* Mixer */
  .mixer-card {
    margin-top: 8rem;
  }
  .mixer-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }

  .mixer-card::after {
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  .mixer-card:hover::after {
    bottom: -18%;
  }

  /* arthub */

  .arthub-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  .arthub-card::after {
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  .arthub-card:hover::after {
    bottom: -18%;
  }

  /* Gnome-A-Zon */

  .gnome-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  .gnome-card:hover::before {
    bottom: 105%;
  }

  .gnome-card::after {
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  .gnome-card:hover::after {
    bottom: -18%;
    opacity: 1;
  }
  /* TheBarberShop */

  .barber-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  .barber-card:hover::before {
    bottom: 105%;
  }

  .barber-card::after {
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  .barber-card:hover::after {
    bottom: -18%;
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .projects-screen {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .mixer-card,
  .arthub-card,
  .gnome-card,
  .barber-card {
    width: 80vw;
    margin-bottom: 10rem;
    align-self: center;
  }

  /* Mixer */
  .mixer-card {
    margin-top: 5rem;
  }
  .mixer-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }

  .mixer-card::after {
    width: 80vw;
  }

  .mixer-card:hover::after {
    bottom: -40%;
    opacity: 1;
  }

  /* arthub */

  .arthub-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  .arthub-card::after {
    width: 80vw;
  }

  .arthub-card:hover::after {
    bottom: -40%;
    opacity: 1;
  }

  /* Gnome-A-zon */

  .gnome-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  .gnome-card:hover::before {
    bottom: 105%;
    opacity: 1;
  }

  .gnome-card::after {
    width: 80vw;
  }

  .gnome-card:hover::after {
    bottom: -55%;
    opacity: 1;
  }

  /* TheBarberShop */

  .barber-card::before {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
  }

  .barber-card:hover::before {
    bottom: 105%;
    opacity: 1;
  }

  .barber-card::after {
    width: 80vw;
  }

  .barber-card:hover::after {
    bottom: -65%;
    opacity: 1;
  }
}
